.startButton:clicked {
    -fx-background-color: #00ba00;
}

.startButton:hover {
    -fx-background-color: #00a050;
}


.restartButton:clicked {
    -fx-background-color: #e8d900;
}

.restartButton:hover {
    -fx-background-color: #dfc42b;
}

.stopButton:clicked {
    -fx-background-color: #db0000;
}

.stopButton:hover {
    -fx-background-color: #ff3535;
}